
CLOUDINARY_CLOUD_NAME=djte8g4su
CLOUDINARY_API_KEY=639655199182933
CLOUDINARY_API_SECRET=Xc53qw_SxZOcBgOnEobJvSb5kOE
SECRET_KEY=ganti_dengan_key_rahasia_acak
DATABASE_URL=postgresql://user:pass@localhost:5432/db_name
